.display {
    -fx-skin            : "com.eru.scene.control.skin.DisplaySkin";
    -background-color   : TRANSPARENT;
    -frame-color        : #8b8c8d;
    -warning-color      : #c94b4d;
}

.display .background{
    -fx-background-color  : -background-color;
    -fx-background-radius : 1;
}

.display .frame {
    -fx-background-color : -frame-color;
    -fx-scale-shape      : true;
    -fx-shape            : "m 275.125,215.125 0,25.875 2.375,0 0,-23.4375 205.09375,0 0,23.4375 2.375,0 0,-25.875 c -209.92228,-0.0764 0.0954,-0.0136 -209.84375,0 z";
}

.display .text {
    -fx-stroke: TRANSPARENT;
}

.display .warning-icon{
    -fx-background-color : -warning-color;
    -fx-scale-shape      : true;
    -fx-shape            : "M483.916,363.832C426.017,262.049,368.064,160.29,310.041,58.565c-11.531-19.981-31.813-38.969-56.539-36.727c-21.862,1.997-38.695,19.042-49.225,37.112C145.515,159.92,86.923,260.997,28.229,362.019c-7.754,13.951-13.426,29.828-12.012,46.008c0.967,12.285,6.937,24.117,16.51,31.928c13.812,11.43,32.283,15.115,49.799,15.273c116.584,0.424,233.181,1.031,349.765,1.387c21.773-0.178,46.254-7.592,57.646-27.648C501.47,408.404,494.914,383.154,483.916,363.832z M256,411.908c-18.835,0-34.105-15.27-34.105-34.105s15.27-34.105,34.105-34.105c18.836,0,34.105,15.27,34.105,34.105S274.836,411.908,256,411.908z M289.901,294.975c0,13.454-10.907,24.362-24.361,24.362h-19.079c-13.454,0-24.362-10.908-24.362-24.362l-20.301-170.521c0-13.455,10.907-24.362,24.362-24.362h59.682c13.454,0,24.361,10.907,24.361,24.362L289.901,294.975z";
}

/****************************************************************
* Warning designs                                               *
****************************************************************/

.display .warning-red {
    -warning-color      : #c94b4d;
}

.display .warning-yellow {
    -warning-color      : #afaf00;
}

.display .warning-orange {
    -warning-color      : #cf8500;
}