.transformer {
    -fx-skin            : "com.eru.scene.control.skin.TransformerSkin";
    -background-color   : TRANSPARENT;
    -de-energized-color : BLACK;
    -energized-color    : #c94b4d;
    -starting-color     : ORANGE;
    -warning-color      : #c94b4d;
    -disable-color      : GREY;
}

.transformer .background{
    -fx-background-color  : -background-color;
    -fx-scale-shape       : true;
    -fx-background-radius : 1;
}

.transformer .transformer-shape{
    -fx-background-color : -de-energized-color;
    -fx-scale-shape      : true;
    -fx-shape            : "m 364,309 0,15.90625 c -0.0849,4.84994 -3.20438,8.40625 -6.625,8.40625 -3.46794,0 -6.625,-3.64082 -6.625,-8.59375 l -0.0312,0 -3.46875,0 -0.0312,0 c 0,4.95293 -3.15706,8.59375 -6.625,8.59375 -3.46795,0 -6.65625,-3.64082 -6.65625,-8.59375 l -3.5,0 c 0,6.48583 4.35422,12.09375 10.15625,12.09375 3.68603,0 6.63823,-2.36998 8.40625,-5.6875 1.7692,3.31028 4.69391,5.6875 8.375,5.6875 3.68603,0 6.63823,-2.36998 8.40625,-5.6875 1.76802,3.31752 4.72022,5.6875 8.40625,5.6875 3.63768,0 6.53341,-2.31586 8.3125,-5.5625 1.77854,3.25031 4.70356,5.5625 8.34375,5.5625 5.80202,0 10.125,-5.60792 10.125,-12.09375 l -3.5,0 c 0,4.95293 -3.15706,8.59375 -6.625,8.59375 -3.37332,0 -6.42733,-3.47168 -6.59375,-8.21875 0.004,-0.13081 0.0625,-0.24344 0.0625,-0.375 l -0.125,0 -3.375,0 -0.125,0 c 0,0.13142 0.059,0.24433 0.0625,0.375 -0.16664,4.74679 -3.18932,8.21875 -6.5625,8.21875 -3.46794,0 -6.65625,-3.64082 -6.65625,-8.59375 l -0.0312,0 0,-15.71875 -3.5,0 z m -23.40625,36.03125 c -5.80201,0 -10.15625,5.63917 -10.15625,12.125 l 3.5,0 c 0,-4.95293 3.18832,-8.625 6.65625,-8.625 3.39749,0 6.46853,3.54418 6.59375,8.34375 -0.002,0.0991 -0.0625,0.18171 -0.0625,0.28125 l 0.0937,0 3.40625,0 0.0937,0 c 0,-0.0995 -0.0605,-0.18214 -0.0625,-0.28125 0.12523,-4.79957 3.19628,-8.34375 6.59375,-8.34375 3.46795,0 6.65625,3.67207 6.65625,8.625 l 0,15.71875 3.5,0 0,-15.71875 c 0,-4.95293 3.18831,-8.625 6.65625,-8.625 3.46795,0 6.625,3.67207 6.625,8.625 l 3.5,0 c 0,-4.95293 3.18831,-8.625 6.65625,-8.625 3.46795,0 6.625,3.67207 6.625,8.625 l 3.5,0 c 0,-6.48583 -4.32297,-12.125 -10.125,-12.125 -3.68602,0 -6.63823,2.40123 -8.40625,5.71875 -1.76802,-3.31752 -4.68897,-5.71875 -8.375,-5.71875 -3.68602,0 -6.63823,2.40123 -8.40625,5.71875 -1.76802,-3.31752 -4.72022,-5.71875 -8.40625,-5.71875 -3.63526,0 -6.53289,2.35066 -8.3125,5.59375 -1.77854,-3.25031 -4.70355,-5.59375 -8.34375,-5.59375 z";
}

.transformer .name-text{
    -fx-fill   : BLACK;
    /*-fx-stroke : BLACK;*/
}