<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="true">

    <!--Notes:-->
    <!--DEBUG < INFO < WARN < ERROR < FATAL-->

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>

    <appender name="LabelAppender" class="com.eru.logger.LabelAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>

    <appender name="LoggerLive" class="com.eru.logger.LiveAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>

    <logger name="PSVLogger">
        <level value="debug"/>
        <appender-ref ref="console"/>
        <appender-ref ref="LoggerLive"/>
    </logger>

    <root>
        <priority value="info"/>
        <appender-ref ref="console"/>
        <appender-ref ref="LabelAppender"/>
    </root>
</log4j:configuration>