/* ********** Root ********** */
.root {
    /* A light grey that is the base color for objects.  Instead of using
     * -fx-base directly, the sections in this file will typically use -fx-color.
     */
    /*-fx-base: #1a1a1a;*/
    /*-fx-base: #43464B;*/
    /*-fx-base: #252525;*/
    /*-fx-base: BLACK;*/

    /* A very light grey used for the background of windows.  See also
     * -fx-text-background-color, which should be used as the -fx-text-fill
     * value for text painted on top of backgrounds colored with -fx-background.
     */
    /*-fx-background: #0f0f0f;*/
}

/* ********** Lists ********** */
.table-view{
    /*-fx-background-color: transparent;*/
}
.table-view .column-header .label {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
}
.table-view .table-cell{
    /*-fx-font-weight:bold;*/
    -fx-font-size:11px;
    /* -fx-text-fill:orange; */

}
.table-row-cell{
    /*-fx-background-color: transparent;*/
}
.table-row-cell:selected.table-cell {
    /*-fx-background-color: -fx-base;*/
    /*-fx-background-insets: 0, 0 0 1 0;*/
}
.table-row-cell:selected {
    /*-fx-background-color: #252525;*/
}
.table-row-cell:selected .text {
    /*-fx-fill: white ;*/
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /*-fx-background-color: -fx-base;*/
    /*-fx-text-fill: white;*/
}

/* ********** Charts ********** */
/* ====== CHART TOP LEVEL ITEMS ====== */
.chart {
    -fx-padding: 0px;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-content {
    -fx-padding: 10px;
}
.chart-title {
    -fx-font-size: 1.4em;
    -fx-text-fill: lightgrey;
}
.chart-legend {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 -1 0, 0,1;
    -fx-background-radius: 4,4,3;
    -fx-padding: 0px;
}
/* ====== AXIS ====== */
.axis {
    -fx-tick-label-font-size: 0.833333em; /* 10px */
    -fx-tick-label-fill: derive(-fx-text-background-color, 30%);
}
.axis-tick-mark, .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: AXIS_COLOR;
}
.axis-label {-fx-text-fill: lightgrey; }
.axis .text {
    -fx-font-smoothing-type: lcd;
}
/* ====== CHART PLOT ====== */
.chart-vertical-grid-lines {
    -fx-stroke: #5a5a5a;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #5a5a5a;
}
.chart-alternative-column-fill, .chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.chart-vertical-zero-line, .chart-horizontal-zero-line {
    -fx-stroke: #999999;
}

/* ====== LINE CHART ====== */
.chart-line-symbol {
    -fx-background-color: #aaaaaa;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 1px;
    -fx-padding: 1px;
}
.chart-series-line {
    -fx-stroke-width: 1px;
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.3) , 8, 0.0 , 0 , 3 );
}

/* ====== MENUBAR ====== */
.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.split-pane > .split-pane-divider {
    -fx-background-color: linear-gradient(to right, #ecf4fa 0%, #ced4d9 100%);
    -fx-padding: 0 3 0 3;
}

.scroll-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}
