/* ********** Root ********** */
.root {
    /* A light grey that is the base color for objects.  Instead of using
     * -fx-base directly, the sections in this file will typically use -fx-color.
     */
    -fx-base: WHITE;

    /* A very light grey used for the background of windows.  See also
     * -fx-text-background-color, which should be used as the -fx-text-fill
     * value for text painted on top of backgrounds colored with -fx-background.
     */
    /*-fx-background: #fbfff6;*/
}

/* ********** Electrical controls ********** */
.generator{
    -de-energized-color : LIGHTGREY;
    -name-text-fill     : LIGHTGREY;
}
.load{
    -de-energized-color : LIGHTGREY;
}
.switch{
    -de-energized-color : LIGHTGREY;
}
.transformer{
    -de-energized-color : LIGHTGREY;
}
.bars{
    -fx-background-color : LIGHTGREY;
}
.gauge{
    -fx-tick-label-fill: BLACK;
}